<div class="small_wrapper">
  <h1>Log in</h1>
  <div class="login_form">  
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: "textbox" %>
      </div>
    
      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off", class: "textbox" %>
      </div>
    
      <div class="actions">
        <%= f.submit "Log in", class: "login_btn" %>
      </div>
      
      <% if devise_mapping.rememberable? -%>
        <div class="field remember">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, "Keep me signed in" %>
        </div>
      <% end -%>
    

    <% end %>
    <div class="clear_it"></div>
    <%= render "devise/shared/links" %>
  </div>
</div>