<h1>Crop Image</h1>

<% if params[:post][:vertical] == "1" %>
  <%= image_tag @post.picture.url(:vertical), id: "cropbox" %>
<% else %>
  <%= image_tag @post.picture.url(:large), id: "cropbox" %>
<% end %>

<%= form_for @post do |f| %>
  <% %w[x y w h].each do |attribute| %>
    <%= f.text_field "crop_#{attribute}" %><br>
  <% end %>
  <div class="actions">
    <%= f.submit "Crop" %>
  </div>
  
<% end %>

