

<div class="large_wrapper">

  <div class="section group"> <!-- row 1 -->
    <div class="col span_1_of_3">
      <div class="sub_heading">
        <h3>Recent Articles</h3>
      </div>
    </div>
  </div>
    

  <div class="section group"> <!-- first row of posts -->
    <% if !@post1.nil? %>
      <div class="col span_1_of_3">
        <div class="post_tile">
          <h2><%= link_to @post1.title, @post1 %></h2><br>
            <% if @post1.image_orientation == 0 %>
              <%= link_to(image_tag( @post1.picture.url(:horiz)), @post1) if @post1.picture? %>
            <% elsif @post1.image_orientation == 1 %>
              <%= link_to(image_tag( @post1.picture.url(:vert)), @post1) if @post1.picture? %>
            <% end %>
            <h3><%= link_to "Read More >>", @post1 %></h3>
        </div>
      </div>
    <% end %>

    <% if !@post2.nil? %>
      <div class="col span_1_of_3">
        <div class="post_tile">
          <h2><%= link_to @post2.title, @post2 %></h2><br>
           <% if @post2.image_orientation == 0 %>
              <%= link_to(image_tag(@post2.picture.url(:horiz)), @post2) if @post2.picture? %>
            <% elsif @post2.image_orientation == 1 %>
              <%= link_to(image_tag(@post2.picture.url(:vert)), @post2) if @post2.picture? %>
            <% end %>
            <h3><%= link_to "Read More >>", @post2 %></h3>

        </div>
      </div>
    <% end %>
    
    <% if !@post3.nil? %>
      <div class="col span_1_of_3">
        <div class="post_tile">
          <h2><%= link_to @post3.title, @post3 %></h2><br>
            <% if @post3.image_orientation == 0 %>
              <%= link_to(image_tag(@post3.picture.url(:horiz)), @post3) if @post3.picture? %>
            <% elsif @post3.image_orientation == 1 %>
              <%= link_to(image_tag(@post3.picture.url(:vert)), @post3) if @post3.picture? %>
            <% end %> 
            <h3><%= link_to "Read More >>", @post3 %></h3>

        </div>
      </div>
    <% end %>
  </div> <!-- end of first row of posts -->
  <hr> 

  <div class="section group blurb"><!-- second row -->
    <p><span>The Northfield Area United Way</span> helps one-in-three residents in our community lead fulfilling lives.<br> 
    For more than 40 years we have fostered a caring community with both nationally
    recognized programs and services that have untold impact.</p>
  </div>
  
  <hr>

  <div class="section group"> <!-- quick links -->
    <div class="col span_1_of_3">
      <div class="sub_heading">
        <h3>Quick Links</h3>
      </div>
    </div>
  </div>

  <div class="section group row_2_row"> <!-- third row -->
    <div class="col span_1_of_2 row_2_col1">
      <p class="headings">Leadership</p>
      <%= image_tag("hospital.png") %>
      <%= link_to "Read More >>", '#', id: "read_more" %>
    </div>
 
    <div class="col span_1_of_2 row_2_col2">
      <p class="headings">Education</p>
      <%= image_tag("readhead.png") %>
      <%= link_to "Read More >>", '#', id: "read_more" %>

    </div>
  </div> <!-- end of third row -->
  

  <div class="section group row_3_row"> <!-- fourth row -->
    <div class="col span_1_of_2 row_2_col1">
      <p class="headings">Community</p>
      <%= image_tag("soccer.png") %>
      <%= link_to "Read More >>", '#', id: "read_more" %>

    </div>
 
    <div class="col span_1_of_2 row_2_col2">
      <p class="headings">Senior Programs</p>
      <%= image_tag("pingpong.png") %>
      <%= link_to "Read More >>", '#', id: "read_more" %>
    </div>
  </div> <!-- end of fourth row -->
</div><!-- end of large wrapper -->

  


