<div class="small_wrapper">
  <h1> <%= @post.title %> </h1>
  <div class="post_picture">
    <% if @post.image_orientation == 0 %>
      <%= image_tag @post.picture.url(:horiz) if @post.picture? %>
    <% elsif @post.image_orientation == 1 %>
      <%= image_tag @post.picture.url(:vert) if @post.picture? %>
    <% end %>
  </div>
  <p>
    <%= @post.body.html_safe %>
  </p>
  
  <div class="posted_on">
    Posted on <%=@post.created_at.strftime("%B, %d, %Y") %>
  </div>
  
  <div style="clear: both;"></div>

</div>

