<h1> <%= @post.title %> </h1>


<p>
  Submitted <%= time_ago_in_words(@post.created_at) %> ago
</p>
<p>
  <%= @post.body %>
</p>

<h2><%= @post.blog_comments.count %> Comments</h2>
  <%= render @post.blog_comments %>
  
<h3>Add a comment</h3>
  <%= render "blog_comments/form" %>