<div class="small_wrapper">
  <h1>Edit Forum Thread</h1>
  <%= form_for @thread do |f| %>
    <% if @thread.errors.any? %>
      <div id="errors">
        <h2><%= pluralize(@thread.errors.count, "error") %> prevented this
        post from saving</h2>
        <ul>
          <% @thread.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="new_thread">
      <p>
        <%= f.label :title %> <br>
        <%= f.text_field :title, class: "textbox" %>
      </p>
      <br>
      
      <p>
        <%= f.label :content %><br>
        <%= f.text_area :content %>
      </p>
      
     
        <%= f.submit "Edit Thread", class: "edit_thread_btn" %>
     
      <%= link_to "Cancel", forum_thread_path, id: "cancel_link" %>
      <div class="clear_it"></div>
      
    <% end %>
  </div>
</div>