<h1>Edit Forum Thread</h1>
<%= form_for @thread do |f| %>
  <% if @thread.errors.any? %>
    <div id="errors">
      <h2><%= pluralize(@thread.errors.count, "error") %> prevented this
      post from saving</h2>
      <ul>
        <% @thread.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  
  
  <% end %>
  <p>
    <%= f.label :title %> 
    <%= f.text_field :title %>
  </p>
  
  <p>
    <%= f.label :content %>
    <%= f.text_area :content %>
  </p>
  
  <p>
    <%= f.submit "Edit Thread" %>
  </p>
  <%= link_to "Cancel", forum_thread_path %>
  
<% end %>