<h1><%= @thread.title %></h1>
<p><%= @thread.content %></p>

<% if !current_user.nil? && (current_user.id == @thread.user_id || current_user.admin?) %>
  <%= link_to "Edit", edit_forum_thread_path %>
  <%= link_to "Delete", @thread, method: :delete, data: {confirm: "Are you sure?" } %>
<% end %>

<br><br>

<h2><%= @thread.forum_comments.count %> Comments</h2>
<%= render @thread.forum_comments %>

<p>Reply to Thread</p>
<%= render 'forum_comments/form' %>