<!DOCTYPE html>
<html>
 <!-- HTML5 Boilerplate -->
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-- <html class="no-js"> <!--<![endif]-->
<!--[if lt IE 9]>
<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
</script>
<![endif]-->
  
  
  
  
  <head>
    <title>Northfield Area United Way</title>
       <!-- Fonts -->
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400italic,400,700' rel='stylesheet' type='text/css'>    

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    
  	<meta name="description" content="DESCRIPTION GOES HERE">
  	<meta name="keywords" content="KEYWORDS GO HERE">

  	<meta http-equiv="cleartype" content="on">
  	
  		<!-- Responsive and mobile friendly stuff -->
	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

  

  </head>
  
  <body>
    <header>
      <div id="top_bar">
        <%= image_tag("logo_edited.png", alt: "Logo", id: "logo") %>
        <!--<div id="title">Northfield Area United Way</div>-->
        <h1 id="title">Northfield Area United Way</h1>
         <div class="mobile" id="wrapped_title">
            Northfield Area<br>
            United Way
         </div>
         
         <div id="tabs">
            <%= link_to "Volunteer", root_path, id: "volunteer_tab" %>
            <%= link_to "Donate", root_path, id: "donate_tab" %>
         </div>
      </div>
      
      <%= image_tag("softball_cropped.png", alt: "softball_player", id: "header_pic") %>
      <nav>
         <div class="wrapper">
               <ul>
                  <li><%= link_to "Home", root_path, id: "home_link" %></li>
                  <li><%= link_to "About", root_path %></li>
                  <li><%= link_to "Why Give", root_path %></li>
                  <li><%= link_to "Apply For a Grant", root_path %></li>
                  <li><%= link_to "Partner Agencies", root_path %></li>
                  <li><%= link_to "Contact", root_path %></li>
                  <li><%= link_to "Donate", root_path, id: "mobile_donate_button" %></li>
                  <li><%= link_to "Volunteer", root_path, id: "mobile_volunteer_button" %></li>
               </ul>
          </div>
       <nav>
 
      <div style="clear: both;"></div>
    </header>
    
      <%= yield %>
      
    <footer>
      <%= link_to "New Post", new_post_path %>
    </footer>
        
     
  
  </body>
  

  
  
</html>
